<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Feedback Form</title>
  </head>
  <body>
    <h1>Feedback Form</h1>
    <form method="POST" action="/submitform">
      <input placeholder="title" name="title" autocomplete="off" required><br>
      <input type="email" placeholder="email" name="email" autocomplete="off" required><br>
      <textarea name="description" rows="4" cols="50" placeholder="description">
  </textarea>
      <button class="login-form-button">submit</button>
    </form>
  </body>
</html>